#Compiled/Object files/Executables
*.o
*.x
*.d
*.csv
*.pyc

#Eclipse/OS generated folders
Debug
Release
RemoteSystemsTempFiles
.metadata

#Rync exclude database
database.txt

#Hidden/Temp files
.~*


#Restricted PCM library
lib/pcm-2.6-private
lib/ssg_intelpcm-main

